In [20]:
import pandas as pd

In [8]:
data1 = pd.read_csv("C:/Users/Dom/Desktop/compress/project/animes2.csv")

In [12]:
data1.head(5)

,Unnamed: 0,name,score,rank,popularity,members,date,channel
0,0,Shingeki no Kyojin,8.53,#105,#1,"3,401,578",Spring 2013,TV
1,1,Fullmetal Alchemist: Brotherhood,9.14,#1,#3,"2,868,142",Spring 2009,TV
2,2,One Punch Man,8.51,#115,#4,"2,778,154",Fall 2015,TV
3,3,Sword Art Online,7.20,#2964,#5,"2,737,387",Summer 2012,TV
4,4,Boku no Hero Academia,7.94,#648,#6,"2,614,258",Spring 2016,TV

In [14]:
df = pd.DataFrame(data1)
print(df)

     Unnamed: 0                                               name  score  \
0             0                                 Shingeki no Kyojin   8.53
1             1                   Fullmetal Alchemist: Brotherhood   9.14
2             2                                      One Punch Man   8.51
3             3                                   Sword Art Online   7.20
4             4                              Boku no Hero Academia   7.94
..          ...                                                ...    ...
660         660                                      Psycho-Pass 3   7.47
661         661  Steins;Gate: Kyoukaimenjou no Missing Link - D...   8.25
662         662                                         Gankutsuou   8.15
663         663                                       Ga-Rei: Zero   7.60
664         664                                    Death Billiards   7.90

      rank popularity    members         date  channel
0     #105         #1  3,401,578  Spring 2013       TV
1       #1         #3  2,868,142  Spring 2009       TV
2     #115         #4  2,778,154    Fall 2015       TV
3    #2964         #5  2,737,387  Summer 2012       TV
4     #648         #6  2,614,258  Spring 2016       TV
..     ...        ...        ...          ...      ...
660  #1764       #841    231,048    Fall 2019       TV
661   #277       #859    225,960          NaN  Special
662   #377       #864    224,961    Fall 2004       TV
663  #1358       #869    224,422    Fall 2008       TV
664   #715       #886    220,358          NaN    Movie

[665 rows x 8 columns]

In [28]:
data1.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

,Unnamed: 0,name,score,rank,popularity,members,date,channel
0,0,Shingeki no Kyojin,8.53,#105,#1,"3,401,578",Spring 2013,TV
1,1,Fullmetal Alchemist: Brotherhood,9.14,#1,#3,"2,868,142",Spring 2009,TV
2,2,One Punch Man,8.51,#115,#4,"2,778,154",Fall 2015,TV
3,3,Sword Art Online,7.20,#2964,#5,"2,737,387",Summer 2012,TV
4,4,Boku no Hero Academia,7.94,#648,#6,"2,614,258",Spring 2016,TV
...,...,...,...,...,...,...,...,...
658,658,Munou na Nana,7.20,#2956,#736,"266,233",Fall 2020,TV
659,659,Higurashi no Naku Koro ni Gou,7.20,#2992,#830,"233,795",Fall 2020,TV
660,660,Psycho-Pass 3,7.47,#1764,#841,"231,048",Fall 2019,TV
662,662,Gankutsuou,8.15,#377,#864,"224,961",Fall 2004,TV
663,663,Ga-Rei: Zero,7.60,#1358,#869,"224,422",Fall 2008,TV

In [30]:
print(data1.describe(include='all'))

        Unnamed: 0           name       score rank popularity    members  \
count   665.000000            665  661.000000  654        665        665
unique         NaN            444         NaN  434        444        446
top            NaN  Made in Abyss         NaN  #53        #94  1,124,760
freq           NaN              5         NaN    5          5          5
mean    332.000000            NaN    7.782905  NaN        NaN        NaN
std     192.113248            NaN    0.792137  NaN        NaN        NaN
min       0.000000            NaN    1.980000  NaN        NaN        NaN
25%     166.000000            NaN    7.410000  NaN        NaN        NaN
50%     332.000000            NaN    7.900000  NaN        NaN        NaN
75%     498.000000            NaN    8.310000  NaN        NaN        NaN
max     664.000000            NaN    9.140000  NaN        NaN        NaN

             date channel
count         559     665
unique         87       5
top     Fall 2012      TV
freq           18     560
mean          NaN     NaN
std           NaN     NaN
min           NaN     NaN
25%           NaN     NaN
50%           NaN     NaN
75%           NaN     NaN
max           NaN     NaN

In [31]:
data2 = pd.read_csv("C:/Users/Dom/Desktop/scrapy_data/scrapy_data/anime.csv")

In [32]:
data2.head(5)

,channel,date,members,name,popularity,rank,score
0,TV,Summer 2019,"684,050",Dungeon ni Deai wo Motomeru no wa Machigatteir...,#228,#2809,7.23
1,TV,Winter 2016,"647,001",Hai to Gensou no Grimgar,#242,#1199,7.66
2,TV,Winter 1996,"447,902",Rurouni Kenshin: Meiji Kenkaku Romantan,#403,#236,8.30
3,Movie,NaN,"781,917",Neon Genesis Evangelion: The End of Evangelion,#175,#93,8.55
4,TV,Summer 1998,"627,204",Serial Experiments Lain,#259,#487,8.07

In [33]:
df1 = pd.DataFrame(data2)
print(df1)

    channel         date  members  \
0        TV  Summer 2019  684,050
1        TV  Winter 2016  647,001
2        TV  Winter 1996  447,902
3     Movie          NaN  781,917
4        TV  Summer 1998  627,204
..      ...          ...      ...
249      TV    Fall 2011  741,131
250      TV  Spring 2006  842,327
251      TV  Spring 2015  717,224
252      TV    Fall 2012  552,023
253      TV    Fall 2014  744,346

                                                  name popularity   rank  \
0    Dungeon ni Deai wo Motomeru no wa Machigatteir...       #228  #2809
1                             Hai to Gensou no Grimgar       #242  #1199
2              Rurouni Kenshin: Meiji Kenkaku Romantan       #403   #236
3       Neon Genesis Evangelion: The End of Evangelion       #175    #93
4                              Serial Experiments Lain       #259   #487
..                                                 ...        ...    ...
249                       Boku wa Tomodachi ga Sukunai       #196  #3008
250                         Suzumiya Haruhi no Yuuutsu       #155   #810
251                               High School DxD BorN       #216  #1909
252                                 Zetsuen no Tempest       #323   #669
253                                   Akatsuki no Yona       #195   #518

     score
0     7.23
1     7.66
2     8.30
3     8.55
4     8.07
..     ...
249   7.19
250   7.84
251   7.43
252   7.93
253   8.03

[254 rows x 7 columns]

In [34]:
data2.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

,channel,date,members,name,popularity,rank,score
0,TV,Summer 2019,"684,050",Dungeon ni Deai wo Motomeru no wa Machigatteir...,#228,#2809,7.23
1,TV,Winter 2016,"647,001",Hai to Gensou no Grimgar,#242,#1199,7.66
2,TV,Winter 1996,"447,902",Rurouni Kenshin: Meiji Kenkaku Romantan,#403,#236,8.30
4,TV,Summer 1998,"627,204",Serial Experiments Lain,#259,#487,8.07
5,TV,Summer 2011,"277,585",Mawaru Penguindrum,#701,#614,7.96
...,...,...,...,...,...,...,...
249,TV,Fall 2011,"741,131",Boku wa Tomodachi ga Sukunai,#196,#3008,7.19
250,TV,Spring 2006,"842,327",Suzumiya Haruhi no Yuuutsu,#155,#810,7.84
251,TV,Spring 2015,"717,224",High School DxD BorN,#216,#1909,7.43
252,TV,Fall 2012,"552,023",Zetsuen no Tempest,#323,#669,7.93
253,TV,Fall 2014,"744,346",Akatsuki no Yona,#195,#518,8.03

In [35]:
print(data2.describe(include='all'))

       channel         date members                     name popularity  rank  \
count      245          112     254                      254        254   227
unique       5           61     249                      252        252   225
top         TV  Spring 2015  45,404  Serial Experiments Lain       #259  #487
freq       114            4       2                        2          2     2
mean       NaN          NaN     NaN                      NaN        NaN   NaN
std        NaN          NaN     NaN                      NaN        NaN   NaN
min        NaN          NaN     NaN                      NaN        NaN   NaN
25%        NaN          NaN     NaN                      NaN        NaN   NaN
50%        NaN          NaN     NaN                      NaN        NaN   NaN
75%        NaN          NaN     NaN                      NaN        NaN   NaN
max        NaN          NaN     NaN                      NaN        NaN   NaN

             score
count   248.000000
unique         NaN
top            NaN
freq           NaN
mean      6.699194
std       1.408433
min       1.980000
25%       5.950000
50%       6.810000
75%       7.735000
max       9.140000